<div class="relative flex flex-col items-center justify-center h-screen bg-cover bg-center" style="background-image: url('/LandingBG.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 flex flex-col items-center justify-center">
    <h1 class="text-5xl font-extrabold text-white mb-6 text-center animate__animated animate__fadeIn animate__delay-1s">
      Career Suggestion Tool
    </h1>
    <p class="text-lg text-white mb-8 text-center animate__animated animate__fadeIn animate__delay-2s">
      Explore career paths and discover your next big opportunity.
    </p>

    <!-- <app-button
    ></app-button> -->
  </div>
</div>
